button, input[type='submit'] {
        min-width: 2.5em;
        width: auto;
        max-width: 90%;
        min-height: 2.5em;
        height: auto;
        max-height: 90%;
        color: white;
        border: solid black;
        cursor: pointer;
        padding: 1vh;
        background-color: black;
}
button:hover, button[type='primary']:hover, button[type='danger']:hover, button[type='success']:hover, input[type='submit']:hover {
        background-color: white;
        color: black;
}
button[type='primary'] {
        background-color: dodgerblue;
        border-color: dodgerblue;
}
button[type='danger'] {
        background-color: red;
        border-color: red;
}
button[type='success'] {
        background-color: limegreen;
        border-color: limegreen;
}