slideshow {
        animation: anim_slideshow 10s linear infinite;
        white-space: nowrap;
        display: unset;
        transform: translateX(-100%);
        overflow: visible;
}
slideshow>* {
        height: 40vh;
        display: inline-block;
}
@keyframes anim_slideshow {
        from {
                transform: translateX(-100%)
        }
        to {
                transform: translateX(100%);
        }
}