/* FONT */

@import url("resources/fonts/roboto/roboto.css");
/* BASE */

@import url("base/misc.css");
@import url("base/div.css");
@import url("base/a.css");
@import url("base/main.css");
@import url("base/button.css");
@import url("base/nav-footer.css");
@import url("base/nav.css");
@import url("base/footer.css");
@import url("base/table.css");
@import url("base/input.css");
@import url("base/list.css");
@import url("base/iframe.css");
/* COMPONENTS */

@import url("components/slideshow.css");
:root {
        --main-color: indianred;
        --hover-color: dimgray;
        --checked-color: limegreen;
        --transition-time: 0.25s;
}
* {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        flex-wrap: wrap;
        transition: var(--transition-time);
}
html, body {
        padding: 0;
        margin: 0;
        flex-direction: column;
        overflow-y: scroll;
}
html, main, body, section {
        width: 100vw;
}
main, main *, section, section * {
        justify-content: space-around !important;
        margin-top: 10vh;
        margin-bottom: 10vh;
}