nav, footer {
        background-color: var(--main-color);
        position: fixed;
        left: 0;
        right: 0;
        min-height: 10vh;
        max-height: 20rem;
        width: 90vw;
        padding: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        z-index: 1;
}
nav, footer, nav *, footer * {
        color: white;
}