table {
        display: table !important;
        width: 80vw;
}
tbody {
        display: table-row-group !important;
}
tr {
        display: table-row !important;
}
td, th {
        display: table-cell !important;
        padding: 0;
}
td {
        background-color: lightgray;
}
td:hover {
        background-color: gray;
}
th {
        background-color: var(--main-color);
        color: white;
}